body{
    background-color: white;
}
.container{
    width: 1000px;
    height: 700px;
    background-color: black;
    color: aliceblue;
    display: block;
    margin: 45px;
}
.navbar nav{
    
    width: 800px;
    height: 50px;
    padding: 20px;
    margin-left: 7%;
    background-color: #333131;
    display: flex;

}
.navbar nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
.navbar nav ul img{
    display: flex;
    align-content: center;
    list-style: none;
    gap: 30px;
    margin-left: 0%;
}
.log1{
    float: inline-end;
}
.hero{
    display: flex;
    margin-left: 5px;
}
.image img{
    border-radius: 50%;
    

}
.prag {
 width: 700;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: 20px;
 margin-right: 30px;

}
.prag p{
    width: 700;
 display: flex;
 flex-direction: column;
 align-items: center;
 


}
.prag button{
    width: 140px;
    height: 45px;
    background-color: #05d828;
    box-shadow: 10px crimson;

}

.footer{
    align-items: center;
    width: 940px;
    height: 70px;
    background-color: rgb(36, 42, 46);
    display: flex;
    margin-bottom: -20%;
  gap: 30px;
  padding: 3%;
  margin-top: 12.6%;

}
.footer p{

 margin-bottom: 4%;
}

.footer button{
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    background-color: black;
    color: aliceblue;
    text-align: center;

}

